---
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPost = await Astro.glob("../posts/*.md");

  return [
    { params: { tag: "astro" }, props: { posts: allPost } },
    { params: { tag: "successes" }, props: { posts: allPost } },
    { params: { tag: "community" }, props: { posts: allPost } },
    { params: { tag: "blogging" }, props: { posts: allPost } },
    { params: { tag: "setbacks" }, props: { posts: allPost } },
    { params: { tag: "learning in public" }, props: { posts: allPost } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter(
  (post: { frontmatter: { tags: (string | undefined)[] } }) =>
    post.frontmatter.tags?.includes(tag)
);
---

<Layout title="" titleStyle="">
  <p>Posts tagged with: #{tag}</p>
  <ul>
    {
      filteredPosts.map((post: { url: any; frontmatter: { title: any } }) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
