---
const pageTitle = "Home";
const titleStyle = "text-black-400 text-2xl font-bold";

import Layout from "../layouts/Layout.astro";
---

<Layout title={pageTitle} titleStyle={titleStyle}>
  <main class="">
    <div class="flex flex-col"></div>
  </main>
</Layout>
