---
import Social from "./Social.astro";
---

<footer>
  <p class="text-gray-400">
    Contact me via:
    <Social platform="github" username="tihii" />
    <Social platform="facebook" username="banhuy1811" />
    <Social platform="instagram" username="_ntihii" />
  </p>
</footer>
