---
import Social from "./Social.astro";
---

<footer>
  <p class="text-gray-400">
    Learn more about my projects on
    <Social platform="github" username="tihii" />
    <Social platform="facebook" username="tihii Nguyen" />
    <Social platform="instagram" username="_ntihii" />
  </p>
</footer>
