---
const lineStyle = "w-[40px] h-[3px] mb-[5px] bg-[#ff9776] block";
---

<div class="flex flex-col justify-center cursor-pointer">
  <span class={lineStyle}></span>
  <span class={lineStyle}></span>
  <span class={lineStyle}></span>
</div>
