---
import Hamburger from "./Hamburger.astro";
import Navigator from "./Navigator.astro";
---

<header class="w-3/5">
  <div class="p-3 flex justify-between relative mx-10 mt-5">
    <Hamburger />
    <Navigator />
  </div>
</header>
