---
const cardStyle =
  " hover:text-white hover:shadow-blue-500/50 shadow-lg px-10 py-3  rounded hover:bg-cyan-500";
---

<a href="/" class={cardStyle}>Home</a>
<a href="/about" class={cardStyle}>About</a>
<a href="/blog" class={cardStyle}>Blogs</a>
